<p>¡Hola, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos ponemos en contacto con usted para notificarle que su correo electrónico se cambiará a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos ponemos en contacto con usted para notificarle que su correo electrónico se ha cambiado a  <%= @resource.email %>.</p>
<% end %>
