<p>¡Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar su contraseña, puede hacerlo a través del enlace a continuación.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Sino solicitó esto, ignore este correo electrónico.</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree una nueva.</p>
