<p>
  <strong>Nombre:</strong>
  <%= @dojo.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dojo.email %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @dojo.address %>
</p>

<p>
  <strong>Activo:</strong>
  <%= @dojo.active %>
</p>