<section id="next_talk" class="sweet_brown">
<div class="relative_width">
<!--imagen aqui-->
<div class="talk_text">
<h2>BIENVENIDXS</h2>
<h4>Mi Dojo CR</h4>
<p>¡Estamos felices de que estés acá! <br> Creamos Mi Dojo CR, porque queríamos crear un espacio confiable <br> e inspirador con todo lo que necesitas para tener a tu alcance <br> la información necesaria para la comunidad judoka<br>(y, aceptémoslo, porque realmente nos gusta este deporte) <br>Esperamos que navegues con mucha facilidad y encontres lo necesario.</p>
<button type="button" class="btn btn-danger"><%= link_to 'Judokas', new_judoka_registration_path %></button>
<button type="button" class="btn btn-danger"><%= link_to 'Senseis', new_admin_sensei_path %></button> 
</div>
</div>
</section>

