<h1 class='text-center' >JudoTest #index</h1>


<table>
<thead>
<tr>
<th>Nombre</th>
<th>Dojo</th>
<th>ID</th>
<th colspan="3"></th>
</tr>
</thead>

<tbody>
<% @judo_tests.each do |judoka| %>
<tr>
<td><%= judo_test.name %></td>
<td><%= judo_test.dojo.name %></td>
<td><%= judo_test.id_card %></td>
<td><%#= link_to 'Mostrar', course %></td>
</tr>
<% end %>
</tbody>
</table>

<br> 
