<div class="container-fluid">
  <footer id="contact" class="bloque1 bg-dark">
    <p class="text-center p-2"> MiDojoCR 2020.Todos los derechos reservados.
    br> 
  Costa Rica Pura Vida</p>
  </footer>
</div>