<div class="d-flex justify-content-center p-5 float-sm-left float-md-left ">
  <div class="row">
    <div class="item col-sm-4 ml-5 ">
      <%= image_tag asset_path('logo.png'), size: "280x280"%>
    </div>
  <div class="item item-1 col-sm-7">
    <h2>BIENVENIDXS</h2>
    <h4>Mi Dojo CR</h4>
    <p>¡Estamos felices de que estés acá! <br> Creamos Mi Dojo CR, porque queríamos crear un espacio confiable e inspirador <br> con todo lo que necesitas para tener a tu alcance la información necesaria para la comunidad judoka<br>(y, aceptémoslo, porque realmente nos gusta este deporte) <br>Esperamos que navegues con mucha facilidad y encontres lo necesario.</p>
  <div>
  <button type="button" class="btn btn-danger"><%= link_to 'Gráficos', graphics_path %></button> 
  </div>
  </div>
  </div>
</div>  